*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#171d2a;
color:white;
}

.container{

width:90%;
max-width:1200px;
margin:auto;
padding:50px 20px;
}

h1{

text-align:center;
font-size:60px;
margin-bottom:60px;
}

.searchBox{

display:flex;
justify-content:center;
gap:10px;
}

input{

width:450px;
padding:18px;
font-size:18px;
border-radius:8px;
border:none;
outline:none;
}

button{

padding:18px 35px;
font-size:18px;
background:#4f8cff;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

button:hover{

background:#296ef6;
}

.example{

text-align:center;
margin-top:15px;
color:#aaa;
}

#loading{

display:none;
text-align:center;
margin-top:30px;
font-size:22px;
}

#results{

margin-top:60px;

display:grid;

grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

gap:30px;

}

.card{

background:#222d3d;

border-radius:15px;

overflow:hidden;

box-shadow:0 15px 40px rgba(0,0,0,.25);

transition:.3s;

cursor:pointer;

}

.card:hover{

transform:translateY(-8px);

box-shadow:0 25px 60px rgba(0,0,0,.35);

}

.card:hover{

transform:translateY(-8px);
}

.card img{

width:100%;
}

.info{

padding:20px;
}

.info h3{

margin-bottom:15px;
}

.stats{

display:flex;

justify-content:space-between;

margin-top:15px;

font-size:15px;

color:#ddd;
}

.rank{

background:#4f8cff;

padding:6px 12px;

border-radius:20px;

display:inline-block;

margin-bottom:15px;
}